/* ____ */
/* ____ */
/* Главные настройки start */
:root {
  --black-color: #000000;
  --rgba-lighter-black-color: rgba(0, 0, 0, 0.3);
  --rgba-light-black-color: rgba(0, 0, 0, 0.25);
  --rgba-very-light-black-color: rgba(0, 0, 0, 0.6);
  --light-grey-color: #e5e5e5;
  --lighter-grey-color: #dcdcdc;
  --dark-grey-color: #363636;
  --light-grey-color: #ebebeb;
  --grey-color: #c4c4c4;
  --special-grey-color: #eaeaea;
  --special-light-grey-color: #f2f2f2;
  --rgba-light-grey-color: rgba(0, 0, 0, 0.15);
  --rgba-lighter-grey-color: rgba(238, 238, 238, 0.7);
  --yellow-color: #f0c52e;
  --special-yellow-color: #f7e296;
  --rgba-special-light-yellow-color: rgba(247, 226, 150, 0.5);
  --rgba-special-lighter-yellow-color: rgba(240, 197, 46, 0.3);
  --dark-yellow-color: #ffc600;
  --white-color: #ffffff;
  --rgba-light-white-color: rgba(255, 255, 255, 0.7);
  --rgba-lighter-white-color: rgba(255, 255, 255, 0.3);
  --light-green-color: #91c92f;

  --font-open-sans: "Open Sans";
  --font-montserrat: "Montserrat";
  --font-arial: "Ar1al";
}

@font-face {
  font-family: var(--font-open-sans);
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src:
    local("OpenSansBold"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-Bold.ttf") format("ttf");
  src:
    local("OpenSansBoldItalic"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-BoldItalic.ttf") format("ttf");
  src:
    local("OpenSansItalic"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-Italic.ttf") format("ttf");
  src:
    local("OpenSansLight"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-Light.ttf") format("ttf");
  src:
    local("OpenSansLightItalic"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-LightItalic.ttf") format("ttf");
  src:
    local("OpenSansMedium"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-Medium.ttf") format("ttf");
  src:
    local("OpenSansMediumItalic"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-MediumItalic.ttf") format("ttf");
  src:
    local("OpenSansRegular"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-Regular.ttf") format("ttf");
  src:
    local("OpenSansSemiBold"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-SemiBold.ttf") format("ttf");
  src:
    local("OpenSansSemiBoldItalic"),
    url("../fonts/Open-Sans/static/OpenSans/OpenSans-SemiBoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src:
    local("MontserratBlack"),
    url("../fonts/Montserrat/static/Montserrat-Black.ttf") format("ttf");
  src:
    local("MontserratBlackItalic"),
    url("../fonts/Montserrats/static/Montserrat-BlackItalic.ttf") format("ttf");
  src:
    local("MontserratBold"),
    url("../fonts/OMontserrat/static/Montserrat-Bold.ttf") format("ttf");
  src:
    local("MontserratBoldItalic"),
    url("../fonts/Montserrat/static/Montserrat-BoldItalic.ttf") format("ttf");
  src:
    local("MontserratExtraBold"),
    url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("ttf");
  src:
    local("MontserratExtraBoldItalic"),
    url("../fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf") format("ttf");
  src:
    local("MontserratExtraLight"),
    url("../fonts/Montserratstatic/Montserrat-ExtraLight.ttf") format("ttf");
  src:
    local("MontserratExtraLightItalic"),
    url("../fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf") format("ttf");
  src:
    local("MontserratItalic"),
    url("../fonts/Montserrat/static/Montserrat-Italic.ttf") format("ttf");
  src:
    local("MontserratLight"),
    url("../fonts/Montserrat/static/Montserrat-Light.ttf") format("ttf");
  src:
    local("MontserratLightItalic"),
    url("../fonts/Montserratstatic/Montserrat-LightItalic.ttf") format("ttf");
  src:
    local("MontserratMedium"),
    url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format("ttf");
  src:
    local("MontserratMediumItalic"),
    url("../fonts/Montserrat/static/Montserrat-MediumItalic.ttf") format("ttf");
  src:
    local("MontserratRegular"),
    url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("ttf");
  src:
    local("MontserratSemiBold"),
    url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("ttf");
  src:
    local("MontserratSemiBoldItalic"),
    url("../fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf") format("ttf");
  src:
    local("MontserratThin"),
    url("../fonts/Montserrat/static/Montserrat-Thin.ttf") format("ttf");
  src:
    local("Montserrat-ThinItalic"),
    url("../fonts/Montserrat/static/Montserrat-ThinItalic.ttf") format("ttf");
}

html {
  box-sizing: border-box;

  position: relative;

  overflow-x: hidden;
  overflow-y: scroll;

  font-family: var(--font-open-sans), var(--font-arial), sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black-color);

  scroll-behavior: smooth;

  /*
    background-image: url("../screens/Index.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    opacity: 0.5;

    background-image: url("../screens/catalog.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    opacity: 0.5;

    background-image: url("../screens/popup.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    opacity:0.5;

    padding: 0 calc(17px - (100vw - 100%)) 0 0;
    margin-right: calc(-1 * (100vw - 100%));
  */
}

.visually-hidden {
  position: absolute;

  white-space: nowrap;

  width: 1px;
  height: 1px;

  overflow: hidden;

  margin: -1px;

  padding: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);

  border: 0;
}

body {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 1440px;
  height: 100vh;

  margin: 0 auto;
}
/* Главные настройки end */
/* ____ */
/* ____ */
/* Шапка start */
.header {
  position: relative;

  display: grid;

  width: 1160px;

  margin-top: 21px;

  z-index: 1;
}

.header__link {
  position: relative;

  width: min-content;

  margin-left: 60px;

  z-index: 1;
}

.header__link img:hover {
  opacity: 60%;
}
.header__link img:active {
  opacity: 30%;
}

.header__container {
  min-height: 256px;

  margin-top: -20px;

  padding-top: 44px;
  padding-right: 60px;
  padding-left: 60px;

  filter: drop-shadow(0 4px 4px var(--rgba-light-black-color));

  background-color: var(--special-yellow-color);
}

.header__container-add {
  min-height: 140px;
}

.header__container-inner {
  display: flex;
  justify-content: space-between;
}

.header__container-wrapper {
  position: relative;
}

.header__container-form {
  position: absolute;

  display: flex;
  align-items: center;

  min-height: 55px;

  margin-top: -15px;
}

.header__container-catalog {
  min-height: 186px;
}

.header__container-form-btn {
  padding-right: 17px;
  padding-left: 0;

  border: 0;

  background-color: transparent;
}
.header__container-form-btn:hover {
  cursor: pointer;
}
.header__container-form-btn:hover + .header__container-input::placeholder {
  color: var(--rgba-very-light-black-color);
}
.header__container-form-btn:focus + .header__container-input::placeholder {
  color: var(--black-color);
}

.header__container-form-btn-add {
  display: none;

  width: 84px;
  height: 50px;

  border-top: 2px solid var(--black-color);
  border-right: 2px solid var(--black-color);
  border-left: 2px solid var(--black-color);
  border-bottom: none;

  background: transparent;
}
.header__container-form-btn-add:hover {
  cursor: pointer;

  background-color: var(--black-color);
}
.header__container-form-btn-add:hover .header__container-form-btn-add-txt {
  color: var(--white-color);
}
.header__container-form-btn-add:active .header__container-form-btn-add-txt {
  color: var(--rgba-lighter-white-color);
}
.header__container-form-btn-add:active {
  display: block;
}
.header__container-form-btn-add:active span {
  color: var(--white-color);
}

.header__container-form-btn-add-txt {
  font-family: var(--font-open-sans);
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black-color);
}

.header__container-form-btn img {
  margin-top: 7px;
}

.header__container-form-btn span {
  font-size: 0;
}

.header__container-input {
  border: none;

  background: transparent;
}
.header__container-input::placeholder {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--rgba-lighter-black-color);
  text-shadow: 0 4px 4px var(--rgba-light-black-color);
}
.header__container-input:hover::placeholder {
  color: var(--rgba-very-light-black-color);
}
.header__container-input:focus::placeholder {
  color: var(--black-color);
}
.header__container-input:focus ~ .header__container-form-btn-add {
  display: block;

  position: relative;
}
.header__container-input:focus ~ .header__container-form-btn-add::before {
  content: " ";
  position: absolute;
  right: -2px;
  bottom: 0;

  display: block;

  width: 290px;

  border-bottom: 2px solid var(--black-color);
}
.header__container-input:focus ~ .header__container-form-btn-add:hover span {
  color: var(--white-color);
}
.header__container-input:focus ~ .header__container-form-btn-add {
  display: block;
}

.header__container-btn-set {
  border: none;

  padding-left: 0;

  background: transparent;
}

.header__container-btn-set img {
  padding-right: 10px;
}

.header__container-btn-set:hover {
  cursor: pointer;
}

.header__container-basket img {
  padding-right: 9px;
}

.header__container-right {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 499px;

  padding-bottom: 3px;
}

.header__container-right-nav {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--black-color);
  text-decoration: none;
}

.header__container-right-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 217px;
}

.header__container-login img {
  padding-right: 7px;
}

.header__container-exit {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--rgba-lighter-black-color);
  text-decoration: none;

  padding-left: 17px;
}

.header__container-inner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
}

.header__container-inner-bottom-link {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black-color);
  text-decoration: none;

  display: flex;
  align-items: center;
}
.header__container-inner-bottom-link:hover {
  opacity: 0.6;
}
.header__container-inner-bottom-link:active {
  opacity: 0.5;
}
.header__container-inner-bottom-link:first-child {
  padding-right: 35px;
}

.header__container-inner-bottom-link-plus {
  padding-left: 10px;
}

.header__container-inner-bottom-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 500px;
}

.header__container-inner-bottom-ul ul {
  list-style: none;

  display: flex;
  align-items: center;

  margin-right: 67px;

  padding-left: 0;
}
/* Шапка end */
/* ____ */
/* Слайдер start */
.header__slider {
  position: relative;

  margin-top: -165px;
  margin-bottom: 115px;

  padding-right: 47px;
  padding-left: 80px;

  z-index: 1;
}

.header__slider-container {
  display: flex;
  justify-content: space-between;
}

.header__slider-container-slide-1 {
  padding-top: 35px;
  padding-left: 10px;
}

.header__slider-container-slide-3 {
  margin-right: -44px;
  margin-left: -39px;

  padding-top: 100px;
  padding-left: 0;
}

.header__slider-inner {
  display: flex;
  justify-content: space-between;

  margin-top: 69px;
}

.header__slider-wrapper {
  width: 100%;
  max-width: 615px;
}

.header__slider-inner span {
  width: 100px;
  height: 7px;

  margin-left: 101px;

  background: var(--white-color);
}

.header__slider-inner p {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 167px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--white-color);

  margin-top: -53px;
  margin-right: 1px;
}

.header__slider-inner-add {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: -320px;
  margin-left: 101px;
}
.header__slider-inner-add-3 {
  margin-left: 18px;
}

.header__slider-inner-add-text-1 {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 41px;
  line-height: 58px;
  color: var(--black-color);

  margin-bottom: 11px;

  padding-top: 6px;
}

.header__slider-inner-add-text-2 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--black-color);
}

.header__slider-inner-add-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 220px;

  margin-top: 43px;
  margin-bottom: 57px;

  text-decoration: none;
}
.header__slider-inner-add-link:hover .header__slider-inner-add-link-special-one {
  min-height: 40px;
}
.header__slider-inner-add-link:active .header__slider-inner-add-link-special-one {
  min-height: 40px;
}
.header__slider-inner-add-link:active .header__slider-inner-add-link-special-two {
  opacity: 0.3;
}

.header__slider-inner-add-link-special-one {
  position: absolute;

  width: 220px;
  height: 8px;

  background: var(--yellow-color);

  z-index: 1;
}

.header__slider-inner-add-link-special-two {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--black-color);

  z-index: 2;
}

.header__slider-inner-add-info {
  display: flex;
  justify-content: space-between;

  padding-right: 69px;
  padding-left: 101px;
}

.header__slider-wrapper-add {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-right: 2px;
}
.header__slider-wrapper-add:last-child {
  padding-right: 0;
}

.header__slider-wrapper-add-set {
  margin-right: -8px;
}

.header__slider-wrapper-add-top {
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--black-color);

  margin-top: 5px;
  margin-bottom: 13px;
}

.header__slider-wrapper-add-bottom {
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--black-color);

  margin-top: 2px;
  margin-bottom: 2px;
}

.header__slider-hidden {
  display: none;
}

.header__set-button {
  position: absolute;
  top: 377px;
  right: 87px;

  display: flex;
  justify-content: space-between;

  width: 74px;
}

.header__set-btn {
  width: 0;
  height: 0;
}
.header__set-btn:hover {
  cursor: pointer;

  position: relative;
}
.header__set-btn:after {
  content: " ";

  display: block;

  position: relative;

  width: 12px;
  height: 12px;

  background-image: url("../img/slider-radio-empty.svg");
}
.header__set-btn:checked:before {
  content: " ";

  display: block;

  position: absolute;

  width: 12px;
  height: 12px;

  background-image: url("../img/slider-radio-checked.svg");
}

.header__set-button-default-cursor:hover {
  cursor: default;
}
/* Слайдер end */
/* ____ */
/* ____ */
/* Сердцевина start */
.main {
  display: grid;
  justify-content: center;

  width: 100%;
  max-width: 1160px;
  min-width: 100%;
  height: auto;
}
/* Сердцевина end */
/* ____ */
/* ____ */
/* Устройсва start */
.main__devices-wrapper {
  width: 100%;

  margin-top: -16px;
  margin-right: auto;
  margin-bottom: 65px;
  margin-left: auto;
}

.main__devices-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  list-style: none;

  padding-left: 0;
}

.main__devices-li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  min-height: 190px;

  margin-bottom: 2px;

  padding-right: 20px;
  padding-left: 20px;
}
.main__devices-li:first-child {
  padding-left: 0;
}

.main__devices-li:last-child {
  padding-right: 0;
}

.main__devices-link-container {
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--black-color);
}
.main__devices-link-container:hover .main__devices-link-wrapper {
  background-color: var(--yellow-color);
}
.main__devices-link-container:active .main__devices-link-wrapper {
  background-color: var(--yellow-color);
}
.main__devices-link-container:active .main__devices-link-wrapper img {
  opacity: 0.3;
}
.main__devices-link-container:active .main__devices-link-container-p {
  opacity: 0.3;
}
.main__devices-link-container:focus .main__devices-link-wrapper img {
  opacity: 0.3;
}
.main__devices-link-container:focus .main__devices-link-container-p {
  opacity: 0.3;
}

.main__devices-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;

  margin-bottom: 38px;

  background-color: var(--special-yellow-color);
}
/* Устройсва end */
/* ____ */
/* ____ */
/* Опции start */
.main__card {
  position: relative;

  width: 100%;
  min-width: 100%;
  min-height: 320px;

  margin-bottom: 27px;
}
.main__card-bg {
  position: absolute;
  top: 100px;
  left: -5000px;
  right: 50%;

  width: 500vw;
  min-height: 288px;

  background-color: var(--light-grey-color);
}

.main__card-wrapper {
  width: 100%;
  min-width: 100%;
}

.main__card-container {
  display: flex;
}

.main__card-container-left {
  width: 284px;
  min-height: 288px;

  position: relative;
}

.main__card-container-ul {
  list-style-type: none;

  min-height: 288px;

  margin-top: 90px;

  padding-left: 0;
}
.main__card-container-ul:before {
  content: " ";

  position: absolute;
  top: 0;
  right: 0;

  height: auto;
  min-height: 320px;

  border-right: 7px solid var(--black-color);

  z-index: 1;
}

.main__card-container-li {
  margin-bottom: 36px;
}

.main__card-container-button {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  min-height: 40px;

  border: none;

  background: none;
}
.main__card-container-button:hover {
  cursor: pointer;
}
.main__card-container-button:hover .main__card-container-button-special {
  min-height: 40px;
}

.main__card-container-button-add {
  margin-top: -8px;
}

.main__card-container-button-active {
  min-height: 40px;

  background-color: var(--black-color);
}
.main__card-container-button-active:hover {
  cursor: default;
}

.main__card-container-button-special {
  position: absolute;
  left: 0;

  width: 160px;
  height: 8px;

  background: var(--yellow-color);

  z-index: 1;
}

.main__card-container-button-special-active {
  background: transparent;
}

.main__card-container-button-special-p {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black-color);

  min-width: 160px;

  margin-left: -3px;

  z-index: 2;
}

.main__card-container-button-special-p-active {
  color: var(--special-yellow-color);
}

.main__card-container-right {
  position: relative;

  width: 876px;
  min-height: 288px;

  z-index: 1;
}

.main__card-container-slide {
  display: flex;
  justify-content: space-between;

  padding-top: 71px;
  padding-right: 0;
  padding-left: 116px;
}

.main__card-container-inner-img {
  margin-top: -1px;
}

.main__card-container-inner-p-main {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 43px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--black-color);

  margin-top: 0;
}

.main__card-container-inner-p-article {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: var(--black-color);

  margin-top: -3px;
}

.main__card-hidden {
  display: none;
}
/* Опции end */
/* ____ */
/* ____ */
/* Партнеры start */
.main__partners {
  width: 100%;
  min-width: 100%;
  min-height: 100px;

  margin-top: 40px;
  margin-bottom: 29px;
}

.main__partners-ul {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 0;
}

.main__partners-li {
  padding-right: 1px;
  padding-left: 1px;
  position: relative;
}
.main__partners-li:first-child {
  padding-right: 1px;
  padding-left: 0;
}
.main__partners-li:last-child {
  padding-right: 0;
  padding-left: 1px;
}

.main__partners-logo-dji-link:hover,
.main__partners-logo-dji-link:focus {
  display: block;

  margin-top: -1px;

  width: 260px;
  height: 100px;

  background-image: url("../img/logo_dji-color.svg");
}

.main__partners-logo-sp-gadgets:hover,
.main__partners-logo-sp-gadgets:focus {
  display: block;

  margin-top: -4px;

  width: 260px;
  height: 100px;

  background-image: url("../img/logo_sp-gadgets-color.svg");
}

.main__partners-logo-gopro-link:hover,
.main__partners-logo-gopro-link:focus {
  display: block;

  margin-top: -4px;

  width: 260px;
  height: 100px;

  background-image: url("../img/logo_gopro-color.svg");
}

.main__partners-logo-vive-link:hover,
.main__partners-logo-vive-link:focus {
  display: block;

  margin-top: -1px;

  width: 260px;
  height: 100px;

  background-image: url("../img/logo_vive-color.svg");
}
/* Партнеры end */
/* ____ */
/* ____ */
/* О нас и контакты start */
.main__about {
  display: flex;
  justify-content: space-between;

  min-height: 561px;

  margin-top: 40px;

  padding-right: 1px;
  padding-left: 1px;
}
.main__about:first-child {
  padding-right: 1px;
  padding-left: 0;
}
.main__about:last-child {
  padding-right: 0;
  padding-left: 1px;
}

.main__about-container-line {
  display: block;

  width: 80px;
  height: 7px;

  background-color: var(--black-color);
}

.main__about-container-p-main {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 43px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--black-color);

  margin-top: 50px;
}

.main__about-container-p-article {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--black-color);

  margin-top: -2px;
}

.main__about-container-p-article-add {
  margin-bottom: 42px;
}

.main__about-container-right-map {
  margin-top: 40px;
  margin-bottom: 33px;
}

.main__about-container-left-ul {
  list-style: circle;

  margin-top: 61px;
  margin-bottom: 36px;

  padding-left: 18px;
}

.main__about-container-left-li-p {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 13px;
  line-height: 28px;
  color: var(--black-color);

  padding-left: 15px;
}

.main__about-container-link {
  position: relative;

  text-decoration: none;

  display: flex;
  align-items: center;

  width: 260px;
}
.main__about-container-link:hover .main__about-container-link-special {
  cursor: pointer;

  min-height: 40px;
}
.main__about-container-link:active .main__about-container-link-special {
  cursor: pointer;

  min-height: 40px;
}
.main__about-container-link:focus .main__about-container-link-special-p {
  opacity: 0.3;
}

.main__about-container-link-left {
  padding-top: 45px;
}

.main__about-container-link-right {
  padding-top: 45px;
}

.main__about-container-link-special {
  position: absolute;
  left: 0;

  width: 260px;
  height: 8px;

  background: var(--yellow-color);

  z-index: 1;
}

.main__about-container-link-special-p {
  display: flex;
  justify-content: center;

  width: 260px;

  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black-color);

  margin-left: -3px;

  z-index: 2;
}
/* О нас и контакты end */
/* ____ */
/* ____ */
/* Каталог start */
.main__gadgets {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;

  width: 1440px;
  min-height: 201px;

  margin-right: auto;
  margin-left: auto;
}

.main__gadgets-header {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 40px;
  line-height: 58px;
  color: var(--black-color);

  width: 1160px;

  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;

  padding-left: 119px;
}

.main__gadgets-list {
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 1160px;

  margin-top: 1px;
  margin-right: auto;
  margin-left: auto;

  padding-left: 120px;
}

.main__gadgets-item {
  padding-top: 2px;
  padding-right: 9.75px;
  padding-left: 8.75px;
}
.main__gadgets-item:first-child {
  padding-right: 9.75px;
  padding-left: 0;
}
.main__gadgets-item:last-child {
  padding-right: 0;
  padding-left: 9.75px;
}

.main__gadgets-item-add {
  font-size: 0;

  display: block;

  background-image: url("../img/arrow-right.svg");

  width: 4px;
  height: 7px;
}

.main__gadgets-link {
  text-decoration: none;

  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  color: var(--black-color);
}

.main__catalog {
  width: 100vw;
}

.main__catalog-wrapper {
  width: 1440px;

  margin-right: auto;
  margin-left: auto;
}

.main__catalog-filter-inner {
  display: flex;
  flex-direction: row;

  margin-left: 270px;
}

.main__catalog-filter {
  display: flex;
  flex-direction: column;

  position: relative;

  margin-left: 170px;
}

.main-catalog-filter-left {
  position: absolute;
  left: 0;

  width: 468px;
}

.main__catalog-filter-left-top-bg {
  position: absolute;
  left: -5000px;

  width: 5000px;
  min-width: 100%;

  background-color: var(--lighter-grey-color);
}

.main__catalog-filter-left-top {
  display: flex;
  align-items: center;

  width: 468px;
  min-height: 70px;

  margin-left: auto;
}

.main__catalog-filter-left-top-p {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black-color);

  padding-left: 198px;
}

.main__catalog-filter-left-bottom-bg {
  position: absolute;
  top: 70px;
  left: -5000px;

  width: 5000px;
  min-width: 100%;
  height: 102%;

  background-color: var(--light-grey-color);
}

.main__catalog-filter-left-bottom {
  width: 468px;

  margin-top: 56px;
  margin-left: auto;
}

.main__catalog-filter-left-bottom-inner {
  padding-right: 68px;
  padding-left: 198px;
}

.main__catalog-filter-p {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--black-color);

  width: 200px;
  border-top: 2px solid var(--black-color);
  padding-top: 16px;
}

.main__catalog-filter-range {
  display: flex;
  align-items: center;
}

.main__catalog-filter-range-active {
  width: 315px;
  height: 2px;
  background: var(--light-green-color);
}
.main__catalog-filter-range-active:hover {
  cursor: pointer;
}

.main__catalog-filter-range-not-active {
  width: 200px;
  height: 2px;
  background: var(--black-color);
  opacity: 0.20000000298023224;
}
.main__catalog-filter-range-not-active:hover {
  cursor: pointer;
}

.main__catalog-filter-range-span {
  position: relative;

  margin-top: 7px;
}
.main__catalog-filter-range-span:hover {
  cursor: pointer;
}
.main__catalog-filter-range-span::before {
  content: " ";

  position: absolute;
  top: 30%;
  left: 42%;

  display: block;

  border-radius: 50%;

  width: 4px;
  height: 4px;

  background-color: var(--grey-color);
}

.main__catalog-filter-p-range {
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-color);
}

.main__catalog-filter-p-range-add {
  padding-right: 76px;
}

.main__catalog-filter-color-ul {
  list-style: none;

  padding-left: 0;
}

.main__catalog-filter-color-ul-li {
  display: flex;
}

.main__catalog-filter-color-ul-li-input {
  width: 0;
  height: 0;
}
.main__catalog-filter-color-ul-li-input::before {
  content: " ";

  display: block;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
}
.main__catalog-filter-color-ul-li-input:hover {
  cursor: pointer;
}
.main__catalog-filter-color-ul-li-input:checked::before {
  content: " ";

  display: block;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
}

.main__catalog-filter-bluetooth-ul {
  list-style: none;

  padding-left: 0;
}

.main__catalog-filter-bluetooth-ul-li {
  display: flex;
}

.main__catalog-filter-bluetooth-ul-li-input {
  width: 0;
  height: 0;
}
.main__catalog-filter-bluetooth-ul-li-input::before {
  content: " ";

  display: block;

  width: 24px;
  height: 24px;

  background-image: url("../img/radio-off.svg");
}
.main__catalog-filter-bluetooth-ul-li-input:hover {
  cursor: pointer;
}
.main__catalog-filter-bluetooth-ul-li-input:checked::before {
  content: " ";

  display: block;

  width: 24px;
  height: 24px;

  background-image: url("../img/radio-on.svg");
}

.main__catalog-filter-color-ul-li-label {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--black-color);

  padding-bottom: 16px;
  padding-left: 39px;
}
.main__catalog-filter-color-ul-li-label:hover {
  cursor: pointer;
}

.main__catalog-filter-bluetooth-ul-li-label {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--black-color);

  padding-left: 38px;
  padding-bottom: 19px;
}
.main__catalog-filter-bluetooth-ul-li-label:hover {
  cursor: pointer;
}

.main__catalog-filter-left-bottom-btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  width: 100%;
  max-width: 220px;

  margin-top: 43px;
  margin-bottom: 57px;
  margin-left: -10px;

  border: none;

  background: transparent;
}
.main__catalog-filter-left-bottom-btn:hover {
  cursor: pointer;
}
.main__catalog-filter-left-bottom-btn-special-one {
  position: absolute;

  width: 200px;
  height: 8px;

  background: var(--yellow-color);

  z-index: 1;
}
.main__catalog-filter-left-bottom-btn-special-two {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black-color);

  z-index: 2;
}

.main__catalog-filter-main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  width: 100%;
  /* margin-top: 98px; */
  margin-bottom: 225px;
  height: 100vh;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.main__catalog-filter-main-top {
  position: relative;

  width: 100%;
  min-height: 70px;
}

.main__catalog-filter-main-top-bg {
  position: absolute;
  left: 0;

  width: 100vw;

  background-color: var(--light-grey-color);
}

.main__catalog-filter-main-top-ul {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 869px;
  min-height: 70px;

  margin-top: 0;
  margin-bottom: 0;

  padding-right: 324px;
  padding-left: 0;
}

.main__catalog-filter-main-top-li-ul-inner {
  list-style: none;

  display: flex;
  justify-content: space-between;

  padding-left: 0;
}

.main__catalog-filter-main-top-li-ul-btn-center {
  border: none;

  background: none;

  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--black-color);
  opacity: 0.3;
}
.main__catalog-filter-main-top-li-ul-btn-active {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--black-color);
  opacity: 1;
}

.main__catalog-filter-main-top-li-ul-btn-right {
  font-size: 0;

  border: none;

  background: none;
}
.main__catalog-filter-main-top-li-ul-btn-right:hover {
  cursor: pointer;
}
.main__catalog-filter-btn-right-right::before {
  content: " ";

  display: block;

  background-image: url("../img/icon-set-triangle-active.svg");

  width: 11px;
  height: 10px;

  transform: rotate(180deg);
}

.main__catalog-filter-btn-right-left {
  margin-right: 23px;
}
.main__catalog-filter-btn-right-left:hover {
  cursor: pointer;
}
.main__catalog-filter-btn-right-left::before {
  content: " ";

  display: block;

  background-image: url("../img/icon-set-triangle-ok.svg");

  width: 11px;
  height: 10px;
}

.main__catalog-filter-main-top-li {
  display: flex;
  align-items: center;
}

.main__catalog-filter-main-top-li-p {
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black-color);

  padding-left: 72px;
}

.main__catalog-filter-main-top-price {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 768px;

  margin-top: 43px;

  padding-left: 72px;
}

.main__catalog-filter-main-top-price-item {
  min-width: 360px;
  min-height: 455px;

  margin-top: 16px;
  margin-right: 15px;
  margin-bottom: 2px;
  margin-left: 10px;

  cursor: pointer;
}
.main__catalog-filter-main-top-price-item:nth-child(1n),
.main__catalog-filter-main-top-price-item:nth-child(3n) {
  margin-left: 0;
}
.main__catalog-filter-main-top-price-item:nth-child(2n) {
  margin-right: 0;
}
.main__catalog-filter-main-top-price-item:nth-child(3n),
.main__catalog-filter-main-top-price-item:nth-child(4n) {
  margin-top: 14px;
}
.main__catalog-filter-main-top-price-item:hover .main__catalog-filter-main-top-price-wrap-hover {
  display: block;
}
.main__catalog-filter-main-top-price-item:hover .main__catalog-filter-main-top-price-new {
  z-index: 0;
}
.main__catalog-filter-main-top-price-item:focus .main__catalog-filter-main-top-price-wrap-hover {
  display: block;
}
.main__catalog-filter-main-top-price-item:active .main__catalog-filter-main-top-price-wrap-hover {
  display: block;
}

.main__catalog-filter-main-top-price-wrap-top {
  position: relative;

  min-width: 360px;
  min-height: 381px;

  background: var(--rgba-lighter-grey-color);
}

.main__catalog-filter-main-top-price-new {
  position: absolute;
  top: 29px;
  right: 27px;

  z-index: 1;
}

.main__catalog-filter-main-top-price-wrap-hover {
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 360px;
  min-height: 381px;

  background-color: var(--rgba-lighter-grey-color);
}

.main__catalog-filter-main-top-price-wrap-hover-inner {
  width: inherit;
  min-height: inherit;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main__catalog-filter-main-top-price-wrap-hover-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 200px;
  height: 8px;

  margin-top: 2px;
  margin-bottom: 11px;

  border: none;

  background: transparent;
}
.main__catalog-filter-main-top-price-wrap-hover-btn:hover {
  cursor: pointer;
}

.main__catalog-filter-main-top-price-wrap-hover-special-one {
  position: absolute;

  width: 200px;
  height: 8px;

  background: var(--yellow-color);

  z-index: 1;
}
.main__catalog-filter-main-top-price-wrap-hover-special-two {
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--black-color);

  z-index: 2;
}

.main__catalog-filter-main-top-price-wrap-compare {
  background: transparent;

  border: none;

  font-size: 13px;
  font-family: var(--font-open-sans);
  font-weight: 300;
  letter-spacing: 1.3px;
  color: var(--black-color);

  margin-top: 11px;
  margin-bottom: 2px;
}
.main__catalog-filter-main-top-price-wrap-compare:hover {
  cursor: pointer;
}

.main__catalog-filter-main-top-price-new-hidden {
  opacity: 0;
}

.main__catalog-filter-main-top-price-wrap-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.main__catalog-filter-main-bottom-header {
  width: 270px;

  font-size: 15.9px;
  font-family: var(--font-montserrat);
  font-weight: 800;
  letter-spacing: 0.9px;
  color: var(--black-color);

  margin-right: 11px;
}

.main__catalog-filter-main-bottom-price {
  font-size: 16px;
  font-family: var(--font-montserrat);
  font-weight: 300;
  letter-spacing: 0.8px;
  color: var(--black-color);
}

.main__catalog-paginator {
  list-style: none;

  width: 704px;
  min-height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 8px;
  margin-left: 72px;

  padding-right: 30px;
  padding-left: 30px;

  background-color: var(--light-grey-color);
}

.main__catalog-paginator-item-href {
  font-size: 16px;
  font-family: var(--font-montserrat);
  font-weight: 800;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black-color);
}

.main__catalog-paginator-items-inner {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__catalog-paginator-item-inner {
  padding-right: 15px;
  padding-left: 15px;
}
.main__catalog-paginator-item-inner-href:first-child {
  padding-right: 0;
}
.main__catalog-paginator-item-inner-href:last-child {
  padding-left: 0;
}

.main__catalog-paginator-items-inner-href {
  font-size: 16px;
  font-family: var(--font-montserrat);
  font-weight: 800;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black-color);
  opacity: 0.30000001192092896;
}

.main__catalog-paginator-items-inner-href-active {
  opacity: 1;
}
.main__catalog-paginator-items-inner-href-active:hover {
  cursor: default;
}
/* Каталог end */
/* ____ */
/* ____ */
/* Подвел start */
.footer {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 324px;

  margin-top: 84px;

  flex: 1;
}

.footer__bg {
  position: absolute;
  bottom: 0;

  width: 500vw;
  min-height: 324px;

  background-color: var(--dark-grey-color);
}

.footer__container {
  display: flex;
  justify-content: center;

  min-height: inherit;
}

.footer__container-wrap {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1161px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 30px;
}

.footer__container-wrap-left {
  display: flex;
  flex-direction: column;

  min-height: inherit;

  padding-top: 34px;
}

.footer__container-wrap-link {
  margin-bottom: 15px;

  color: var(--white-color);
}

.footer__container-wrap-address {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--white-color);

  margin-top: 20px;
  margin-bottom: 30px;
}

.footer__container-wrap-address-span {
  display: block;

  width: 80px;
  height: 7px;

  margin-top: 49px;
  margin-bottom: 2px;

  background-color: var(--dark-yellow-color);
}

.footer__container-wrap-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-right: auto;
  margin-left: auto;

  padding-top: 13px;
  padding-left: 85px;
}

.footer__container-wrap-center-ul {
  list-style-type: none;

  display: flex;
  flex-direction: row;

  margin-top: 95px;
}
.footer__container-wrap-center-ul:last-child {
  margin-top: 0;
  margin-bottom: 58px;
}

.footer__container-wrap-center-li {
  padding-right: 18px;
  padding-left: 18px;
}
.footer__container-wrap-center-li:first-child {
  padding-right: 18px;
  padding-left: 0;
}
.footer__container-wrap-center-li:last-child {
  padding-right: 0;
  padding-left: 18px;
}

.footer__container-wrap-center-li-add {
  margin-left: -18px;
}

.footer__container-wrap-center-link {
  text-decoration: none;
  font-family: var(--font-open-sans);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--white-color);

  min-width: 32px;
  min-height: 32px;
}

.footer__container-wrap-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  width: 330px;
}

.footer__container-wrap-right-ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 325px;

  padding-left: 0;
}

.footer__container-wrap-right-ul-catalog {
  width: 480px;

  margin-left: -480px;
  margin-bottom: 10px;
}

.footer__container-wrap-right-data-work {
  margin-top: -11px;
  margin-bottom: 2px;
}

.footer__container-wrap-right-author {
  margin-bottom: 57px;
}

.footer__container-wrap-right-txt {
  text-decoration: none;
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--rgba-light-white-color);
}

.footer__container-wrap-right-txt img {
  padding-right: 7px;
}

.footer__container-wrap-right-txt-exit {
  text-decoration: none;
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--rgba-light-white-color);

  padding-left: 20px;
}

.footer__container-wrap-right-txt-add {
  border: none;

  padding-left: 0;

  background: none;
}

.footer__container-wrap-right-tel {
  text-decoration: none;
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--white-color);
}
/* Подвел end */
/* ____ */
/* ____ */
/* Модальные окна start */
/* Модальное окно "О нас" start */
.modal__map {
  display: none;

  width: 994px;
  min-height: 593px;

  position: fixed;

  bottom: 329px;

  z-index: 2;

  background: url("../img/map-big.jpg") var(--dark-grey-color);
}

.modal__map-opened {
  display: block;
}

.modal__map-container {
  width: 994px;
  min-height: 593px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__map-button-close {
  position: absolute;
  top: 29px;
  right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0;

  width: 55px;
  height: 55px;

  flex-shrink: 0;

  border: 0;
  border-radius: 50%;

  background-color: var(--rgba-special-light-yellow-color);

  z-index: 1;
}
.modal__map-button-close:hover {
  cursor: pointer;

  background-color: var(--yellow-color);
}
.modal__map-utton-close:active {
  background-color: var(--yellow-color);
}
.modal__map-button-close:focus {
  background-color: var(--rgba-special-lighter-yellow-color);
}
.modal__map-button-close::after {
  content: " ";

  display: block;

  position: absolute;

  width: 25px;
  height: 2px;

  transform: rotate(45deg);

  background-color: var(--rgba-light-white-color);
}
.modal__map-button-close::before {
  content: " ";

  display: block;

  position: absolute;

  width: 25px;
  height: 2px;

  transform: rotate(-45deg);

  background-color: var(--rgba-light-white-color);
}
/* Модальное окно "О нас" end */
/* ____ */
/* Модальное окно "Контакты" start */
.modal__contacts {
  display: none;

  width: 960px;
  min-height: 550px;

  flex-shrink: 0;

  background-color: var(--white-color);
  box-shadow: 0 10px 16px 0 var(--rgba-light-grey-color);

  position: fixed;
  bottom: 335px;

  z-index: 2;
}

.modal__contacts-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}

.modal__contacts-inside-container {
  width: 100%;

  padding-top: 92px;
  padding-right: 100px;
  padding-bottom: 69px;
  padding-left: 100px;
}

.modal__contacts-container-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.modal__contacts-input {
  display: flex;
  flex-direction: column;
}

.modal__contacts-input-id {
  background-color: var(--special-light-grey-color);

  border: none;
}
.modal__contacts-input-id:hover {
  background-color: var(--special-grey-color);
}
.modal__contacts-input-id:focus {
  background-color: var(--white-color);

  outline: 2px solid var(--special-yellow-color);
}
.modal__contacts-input-id:focus::placeholder {
  color: var(--dark-grey-color);
}

.modal__contacts-button-close {
  position: absolute;
  top: 20px;
  right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0;

  width: 55px;
  height: 55px;

  flex-shrink: 0;

  border: 0;
  border-radius: 50%;

  background-color: var(--rgba-special-light-yellow-color);

  z-index: 1;
}
.modal__contacts-button-close:hover {
  cursor: pointer;

  background-color: var(--yellow-color);
}
.modal__contacts-button-close:active {
  background-color: var(--yellow-color);
}
.modal__contacts-button-close:focus {
  background-color: var(--rgba-special-lighter-yellow-color);
}
.modal__contacts-button-close::after {
  content: " ";

  display: block;

  position: absolute;

  width: 25px;
  height: 2px;

  transform: rotate(45deg);

  background-color: var(--rgba-light-white-color);
}
.modal__contacts-button-close::before {
  content: " ";

  display: block;

  position: absolute;

  width: 25px;
  height: 2px;

  transform: rotate(-45deg);

  background-color: var(--rgba-light-white-color);
}

.modal__contacts-opened {
  display: block;
}
/* Модальное окно "Контакты" end */
/* Модальные окна end */
/* ____ */
/* ____ */
